header {
    padding: 20px;
    text-align: left;
    background: blue;
    color: white;
    font-size: 10px;
    margin: 0;
  }
  
  body {
    margin:0;
  }
  footer {
    background-color: black;
    color: white;
    text-align: center;
}

ul.horizontal {
  padding: 0;
  text-align: center;
  }
  
ul.horizontal li {
  display: inline;
  }

ul.horizontal li a {
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    padding: 20px;
    background-color:white;
    color: black;
    }