section {
    text-align: center;
    margin-left: 20px;
}


header {
background-color: darkorange;
color: black;
padding: 3px;
text-align: left;
padding-left: 30px;
}
body {margin: 0px;
    text-align: justify;


}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
nav {
    position: fixed;
    top: 20;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 100%;
    text-align: left;
  }
