section {
    text-align: center;
}


header {
background-color: darkorange;
color: black;
padding: 3px;
}
body {margin: 0px;
    text-align: justify;


}
footer {
    background-color: black;
    color: white;
    text-align: center;
}